.App {
}
.top-spacer {
  height: 50vh;
}

.bottom-spacer {
  height: 110vh;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.header_link {
  padding: 20px;
  color: #314d4a;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}
.selected {
  border-bottom: 3px solid #11bb9a;
  color: #11bb9a;
}

.section {
  height: 40vh;
}

#Leadership {
  background-color: #a388e8;
}

#Providers {
  background-color: #f4769e;
}

#Operations {
  background-color: #8face0;
}
